/* Styles for the main container of the application */
.App {
  text-align: center; /* Center-align the content */
}

/* Styles for the logo */
.App-logo {
  height: 40vmin; /* Set height relative to viewport */
  pointer-events: none; /* Prevent pointer events */
}

/* Styles for the header */
.App-header {
  background-color: #282c34; /* Set background color */
  min-height: 100vh; /* Minimum height of 100% viewport height */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center-align items vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white; /* Text color */
}

/* Styles for links */
.App-link {
  color: #61dafb; /* Link color */
}

/* Keyframes for logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Initial rotation */
  }
  to {
    transform: rotate(360deg); /* Final rotation */
  }
}

/* Styles for screens smaller than 768px (typical mobile devices) */
@media (max-width: 767px) {
}

/* Styles for screens between 768px and 992px (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Styles for screens larger than 992px (desktops) */
@media (min-width: 992px) {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

